<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Index Page</title>
   <meta charset="utf-8" />
 </head>
 <body>
   <h1>HOME</h1>

   <p><span th:text="${message}"></span></p>
    <hr/>
    <div th:each="article : ${articles}">
        <ul class="list-group" th:if="${article.isPublished}" style="border:1px solid;">
          <li class="list-group-item">投稿名: <span th:text="${article.postName}"></span></li>
          <li class="list-group-item">投稿日: <span th:text="${article.postDate}"></span></li>
          <li class="list-group-item">投稿内容: <span th:text="${article.postText}"></span></li>
        </ul>
   </div> 
 </body>
</html>