<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Index Page</title>
   <meta charset="utf-8" />
 </head>
 <body>
   <h1>HOME</h1>

   <p><span th:text="${message}"></span></p>
    <hr/>
    <div>
        <ul class="list-group" style="border:1px solid;">
          <li class="list-group-item">投稿名: <span>Tom</span></li>
          <li class="list-group-item">投稿日: <span>Thu Apr 1 00:00:00 JST 2020</span></li>
          <li class="list-group-item">投稿内容: <span>Hello World!!</span></li>
        </ul>
   </div> 
 </body>
</html>